.git
.github
.idea
.vscode
.metadata
.sonarlint
.claude
.gemini
.codex
ai-support-marketplace
GEMINI.md

**/.DS_Store
**/Thumbs.db
**/*.log
**/*.tmp
**/*.bak
**/*.swp
**/*.swo

**/target
**/build
**/node_modules

**/.classpath
**/.project
**/.settings
**/*.iml

.env
.env.*
!.env.example
